.DS_Store
01_r-markdown/.DS_Store
02_python/.DS_Store

.ipynb_checkpoints
01_r-markdown/.ipynb_checkpoints
02_python/.ipynb_checkpoints

markdown/.Rhistory

_bak/update_startercode.py
change_to_berlin_opendata.md

# Files
berlin_distributions.csv
berlin_keys_dataset.csv
berlin_open_data_packages.csv
berlin_open_data_startercode.ipynb
berlin_reduced_featureset.csv
change_to_berlin_opendata.md
notebooks/

